*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   /*Include padding and border in element's total width and height*/
    font-family: 'Poppins', sans-serif;
}

/* body   /*If you want to hide overflow on body*
{
overflow: hidden;
} */

body{
    height: 100vh;  /* Body full viewport height*/
    display: flex;  /*using flexbox for centering */
    align-items: center;   /* Vertically center*/
    justify-content: center;  /* Horizontally center*/
    background: url(images/background.jpg) no-repeat;
    background-position: center;
    background-size: cover;   /*Cover the whole viewport with the background image */
}

.container {
    width: 100%;
    /* background: linear-gradient(to top, #166da2 0%, #33396f 100%); */
    padding: 10px;   /* Padding inside the container*/
}

.container{ 
    /* height: 100%; */
    width: 100%;
    max-width: 540px;
    max-height: 620px;      /* Maximum height & width of the main white containter, so that it will not scroll down*/
    background: #fff;
    margin: 0px auto 20px;      /* Center container with auto margins, add bottom margin*/
    padding: 40px 30px 70px;
    border-radius: 20px;
    /* box-shadow: 0px 0px 30px #c9abab; */
    /* Multiple shadows for depth effect */
    box-shadow: 25px 25px 75px rgba(0,0,0,0.25),
    10px 10px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

.container h2{
    color:#002765;  /* Text color: Dark Blue*/
    display: flex;
    align-items: center;
    margin-bottom: 50px;    /* Add Space below the heading*/
    font-size: 40px;
    position: relative;     /* For position the image inside */
}

.container h2 img{
    position: absolute;     /* Position image absolutely within header*/
    right: 50%;         /* Position image 50% from the right*/
    width: 40px;
    margin-left: 20px;  /* Space to the left of the image*/
}

.row{
    /* background-color: #ff2c74; */
    display: flex;      /* Flexbox for layout*/
    align-items: center;
    justify-content: space-between;
    height: 55px;
    margin-top: -20px;     /* Negative margin from the top to pull row upwards because the whole row will move to the space left in between after heading*/
    /* background: #edeef0; */
    /* background: #fff; */
    border: none;
    outline: 3px groove #000;   
    outline-offset: 5px;    /* Space between element and outline*/
    border-radius: 30px;
    padding-left: 20px;     /* Padding inside the element */
    margin-bottom: 25px;    /* space below the row */
    /* box-shadow: 0px 0px 10px #5d5d5d; */
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25), inset 2px 2px 5px rgba(0,0,0,0.5), inset -3px -3px 5px rgba(0,0,0,0.5);
}

.row input{
    flex: 1;    /* Text full availabe width*/
    border:none ;
    outline: none;
    padding: 10px;  /* Padding inside the input*/
    background: transparent;    /* Transparent background*/
    font-size: 18px;
    font-weight: 600;       /* Bold font weight*/
    letter-spacing: 1px;    /* Spacing between letters*/
}

.row input::placeholder{    /* Placeholder text color*/
    color: #1e008d;
}

.row button{
    border: none;
    outline: none;
    padding: 16px 30px;     /* Padding inside the button*/
    background: #26068f;
    color: #fff;
    font-size: 18px;
    font-weight: 600;       /* Bold font weight */
    cursor: pointer;
    border-radius: 35px;
}

ul li{
    list-style: none;   /* Remove bullets*/
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 15px 8px 15px 50px;    /* Padding inside lsit items*/
    user-select: none;      /* Remove text selection*/
    cursor: pointer;        /*Pointer cursor on hover*/
    position: relative;
    margin-block: 19px;     /*Space between list items */
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25), inset 2px 2px 5px rgba(0,0,0,0.5), inset -3px -3px 5px rgba(0,0,0,0.5);  /* Shadow design in all List items for depth effect */
}

ul li::before{
    content: '';    /* Empty content for pseudo element */
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;     /* For making circle shape */
    background: url(images/unchecked.png);
    background-size: cover;     /* Cover entire element */
    background-position: center;
    top:12px;           /* Position from top */
    left: 8px;
}

ul li.checked{
    background: #855ed2;
    color: #fff;
    border-radius: 50px;
    text-decoration: line-through;  /* Strikethrough text*/
}

ul li.checked::before{
    background: url(images/checked.png);    /* Change BG image for checked items */
    background-size: cover;
}

ul li span{
    position: absolute;     /* Position absolutely within li*/
    top: 10px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    background: #ff2c74;
    color: #000;
    line-height: 30px;      /*align items vertically*/
    text-align: center;     /*Centering text Horizontally */
    border-radius: 50%;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25), inset 2px 2px 5px rgba(255,255, 255,0.5), inset -3px -3px 5px rgba(0,0,0,0.5);
}

ul li.checked span{
    color: #ffffff;     /*Changing text color of cross after checked*/
}

ul li.checked span:hover{
    color: #000;
}

ul li span:hover{
    /* background: #ff2c74; */
    color: #fff;
}

/* Animation classe for list items  */
/* .fall {  
    transform: translateY(10rem) rotateZ(20deg);    /* Translate and rotate element*
    opacity: 0;
}   */

/* .fall {
    transform: translateY(3px);
    transition: transform 0.3s ease;
} */

/* .fade-out {
    opacity: 0;
    transform: translateZ(-50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
} */

.shrink-fade-out {
    opacity: 0;     /* Fade out*/
    transform: scale(0.5);  /* Shrink*/
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;  /* Smooth */
}

#list-container{
    position: relative;
    margin-top: 20px;   /* space above the list*/
    height: 350px;      /*Fixed height for list container*/
    overflow-y: auto;   /* Enabling scrolling vertically */
    padding-right: 18px;
}

/* Style for the scrollbar  */
::-webkit-scrollbar-track
{
    box-shadow: insert 0 0 15px rgba(0,0,0,0.5);    /* Adds shadow around the scrollbar track*/
}

::-webkit-scrollbar
{
    width: 0px;     /* Hiding scrollbar by default, invisible*/
}

#list-container:hover::-webkit-scrollbar
{
    width: 8px;     /*Showing scrollbar when list container hovered with a 8 px width */
}

::-webkit-scrollbar-thumb   /*Setting the scrollbar thumb part*/
{
    background: #26068f;
}

/* Styling the filter buttons*/
.filters{
    display: flex;      /*Flexbox for layout*/
    justify-content: space-between;     /* spacing out filter buttons */
    margin-top: -5px;       /* adjusting position slightly up */
    margin-bottom: -10px;  /*Adding negative margin to it so that it can align properly*/
    font-size: 15px;   /*setting font size less than to the row button's font size*/
}

/* Style each filter button  */
.filter{
    color: #1e008d;
    padding: 5px 15px;      /* Padding inside button*/
    border-radius: 100px;
    border: 2px solid #000000;
    transition: all 0.2s ease;      /*smooth transition while hover*/
    cursor: pointer;
    font-weight: bolder;
}

.filter.active, .filter:hover{  /* Styling active and hovered filter buttons */
    background-color: #5c5858;
}

.delete-all{
    display: flex;
    color: #0f19d4;
    padding: 7px 15px;  
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: bold;
}

.delete-all:hover{
    border-radius: 80px;
    background-color: #ff2c74;
}

/* Responsive design in the page for small screens using css media queries*/
@media (max-width: 550px){
    .container {
        padding: 20px 15px 35px;
        box-shadow: 15px 15px 50px rgba(0,0,0,0.25),
        5px 5px 50px rgba(0,0,0,0.25),
        inset 3px 3px 5px rgba(0,0,0,0.5),
        inset 3px 3px 10px rgba(255, 255, 255, 0.2),
        inset -3px -3px 10px rgba(0, 0, 0, 0.75);
    }

    .container h2 {
        font-size: 24px;        /* Smaller font size for headings*/
        flex-direction: row;    /* Align items in a row*/
        justify-content: flex-start;    /* Align items to the left*/
    }

    .container h2 img {
        position: static;   /* Remove absolute positioning*/
        margin-right: 10px; /* Add space between image and text */
        /* right: 60%; */
        width: 25px;
        height: auto;
    }

    .row {
        height: 45px;
        padding-left: 10px;
        margin-bottom: 20px;
    }

    .row input {
        padding: 5px;
        font-size: 12px;
        letter-spacing: 0;
    }

    .row button {
        padding: 10px 20px;
        font-size: 14px;
        margin-left: -150px;
    }

    .filters {
        font-size: 8px;
    }

    .filter {
        padding: 5px 5px;
    }

    ul li {
        font-size: 14px;
        padding: 10px 8px 10px 40px;
    }

    ul li span {
        font-size: 18px;
        height: 20px;
        width: 20px;
    }

    ul li::before {
        height: 20px;
        width: 20px;
        top: 6px;
    }

    ul li.checked::before {
        background-size: 50%;
    }

    .square div{    /*In smaller screens animations will not visible*/
        display: none;
    }
}

    /* ANIMATION effects for BACKGROUND*/
.square div{
    position: absolute;     /*Absolutely position, placing freely*/
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 3px solid rgba(255, 255, 255, 0.8);
}

/* Positioning and animating individual squares */
.square div:nth-child(1){
    top: 35%;   /* Vertical position*/
    left: 94%;  /* Horizontal position */
    animation: animate 3s linear infinite;
}

.square div:nth-child(2){
    top: 15%;
    left: 18%;
    animation: animate 3s linear infinite;
}

.square div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 3s linear infinite;
}

.square div:nth-child(4){
    top: 18%;
    left: 74.8%;
    animation: animate 3s linear infinite;
}

.square div:nth-child(5){
    top: 50%;
    left: 15%;
    animation: animate 3s reverse infinite;
}

.square div:nth-child(6){
    top: 54%;
    left: 73%;
    animation: animate 3s reverse infinite;
}

.square div:nth-child(7){
    top: 45%;
    left: 79%;
    animation: animate 3s reverse infinite;
}

.square div:nth-child(8){
    top: 28%;
    left: 25%;
    animation: animate 3s linear infinite;
}

.square div:nth-child(9){
    top: 58%;
    left: 25%;
    animation: animate 3s reverse infinite;
}

.square div:nth-child(10){
    top: 18%;
    left: 85%;
    animation: animate 3s linear infinite;
}

.square div:nth-child(11){
    top: 54%;
    left: 88%;
    animation: animate 3s reverse infinite;
}

.square div:nth-child(12){
    top: 42%;
    left: 7%;
    animation: animate 3s reverse infinite;
}

/* Keyframes for the animation */
@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(90deg);    /* Initial state*/
        opacity: 1;
    }

    100%{
        transform: scale(1.3) translateY(-90px) rotate(720deg); /*Final state */
    }
}